@import url('href="https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#signinnav {
  position: absolute;
  top: -3px;
  right: 10px;
  text-align: center;
  font-size: 20px;
}

#homenav {
  position: absolute;
  top: -3px;
  right: 40px;
  text-align: center;
  font-size: 20px;
}

#loginbtn {
  text-align: center;
  width: 15%;
}

.form-inputs {
  width: 30%;
  font-weight: 300;
}

#logintitle {
  font-family: 'Oswald', sans-serif;
}
