
<h1 class="title-homepage">Co-Working</h1>
<div id="backimage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "washing.jpg" %>');">
<p>Find me in app/views/pages/home.html.erb</p>
