
<div id="backimage" style="background-image: url('<%= image_path "washing.jpg" %>');">
<h1 id="title-homepage">Co-Washing</h1>
<%= link_to"See all offers", machines_path, id: "offers", class: "btn btn-success" %>
<%= link_to user_session_path, id: "signin" do %>
  <i class="fas fa-user"></i>
<% end %>
</div>
