.purple-round-btn {
  background: #8B54FF;
  border: 2px solid #9CA6FF;
  box-sizing: border-box;
  border-radius: 20px;
}

.blue-round-btn{
  background: #ABDDDE;
  border: 2px solid #9CA6FF;
  box-sizing: border-box;
  border-radius: 20px;
}
