.purple-round-btn {
  background: #ABDDDE;
  border: 2px solid #ABDDDE;
  box-sizing: border-box;
  border-radius: 20px;
}

.blue-round-btn{
  background: #ABDDDE;
  border: 2px solid #9CA6FF;
  box-sizing: border-box;
  border-radius: 20px;
}

.light_review_button{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  width: 187px;
  height: 59px;
  left: 48px;
  top: 149px;
  background: rgba(110, 65, 226, 0.16);
  border: 2px solid #6E41E2;
  box-sizing: border-box;
  border-radius: 100px;
}
