.card {
    margin: 0 0 20px 0;
}

.hover-card {
    background-color: red;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mapboxgl-canvas {
 border-radius: 8px;
}

.container-add-an-offer {
    margin-top: 60px;
}