.card {
    margin: 0 0 20px 0;
}

.mapboxgl-canvas {
 border-radius: 8px;
}

#add_an_offer {
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container-add-an-offer {
    margin-top: 60px;
}