.card {
    margin: 0 0 20px 0;
}

.mapboxgl-canvas {
 border-radius: 8px;
}

#add_an_offer {
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container-add-an-offer {
    margin-top: 60px;
}

.container-main {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

// .card-product {
//   margin-bottom: 10px;
//   overflow: hidden;
//   height: 120px;
//   width: 650px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
// }

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
// width: 160px;
// padding: 16px;
// }









// .profile {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// .profile > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }


// .card-infos h1 h2 h3 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-infos p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }

// .flex-container {
//   display: flex;
//   justify-content: space-between;
//   max-width: 50vw;
// }


// @media screen and (max-width: 700px) {
//   .flex-container {
//     display: flex;
//     justify-content: space-between;
//     max-width: 30vw;
//   }
// }
