.navbar-lewagon {
  justify-content: space-between;
  background-color: #79aeaf;
  margin-bottom: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> master
=======

>>>>>>> edea0d473ecf3f0fb9bc2b2bb45a878d19a58d3c
.navigation_bar {
  background: linear-gradient(90.12deg,rgba(171, 221, 222, 0.56) 53.36%, #2E93B7 97.92%);
}
