.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navigation_bar {
  background: linear-gradient(90.12deg,rgba(171, 221, 222, 0.56) 53.36%, #2E93B7 97.92%);
}
