
.margin-machines-index {
    margin-top: 20px;
}

@import url('link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

#backimage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

#title-homepage {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 100px;
  margin-left: 50px;
  padding: 80px;
}

#offers {
  margin-left: 80px;
}

#mainimg {
  margin-top: 50px;
  width: 600px;
  margin-left: 40px;
}

#secondimg {
  margin-top: -116px;
  margin-left: 15px;
  width: 350px;
}


#thirdimg {
  margin-top: -150px;
  width: 350px;
  margin-left: 670px;
}


#appointement {
  width: 25vw;
  margin-left: 1100px;
  margin-top: -500px;
  padding: 30px;
  background-color: #ede0d4;
  border-radius: 12%;
}

#btnform {
  margin-left: 50px;
}
