
.margin-machines-index {
    margin-top: 20px;
}

#backimage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

#title-homepage {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 100px;
  margin-left: 50px;
  padding: 80px;
}

#offers {
  margin-left: 80px;
}

.new-machine {
    width: 55vh;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0,0,0,0.19) 0px 3px 16px;
    background-color: #EDE0D4;
}

.brand-and-capacity {
  justify-content: space-between;
}

.added-margin {
  position: relative;
}


#mainimg {
  margin-top: 50px;
  width: 900px;
  margin-left: 90px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#appointement {
  position: fixed;
  width: 25vw;
  margin-left: 970px;
  margin-top: -550px;
  padding: 30px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#btnform {
  margin-left: 50px;
}

.container-show-machine {
  margin: 0 20px;
}

#chara {
  width: 60vw;
  margin-left: 90px;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#charatitle {
  font-size: 175%;
  font-weight: bold;
  text-align: center;
}

#apptitle {
  font-size: 150%;
  text-align: center;
  font-weight: bold;
}

.show-flex {
  display: flex;
  justify-content: space-evenly;

}

.showtitles {
  font-family: 'Roboto Serif', sans-serif;
}

#profilshowpic {
  position: absolute;
  border-radius: 50%;
  height: 60px;
  width: 70px;
  margin-left: 230px;
  margin-top: -180px;
}

#showcomment {
  width: 60vw;
  margin-left: 90px;
  margin-top: 0px;
  margin-bottom: 80px;
  padding: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#commentshowpic {
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 45px;
  margin-left: -15px;
  margin-top: -10px;
}

#commentcontent {
  margin-left: 40px;
  font-weight: bold;
}

.a-hours-and-name {
  font-family: 'Roboto Serif', sans-serif;
  font-weight: 500;
  font-size: 100px;

}

.card-appointement {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  width: 700px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  border: solid;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-appointements {
  border-color: #e6ccb2 !important;
  margin-bottom: 0 !important;
  margin-right: 22px !important;
  margin-top: 0 !important;
  background: #e6ccb2 !important;
  border: 2px solid #e6ccb2 !important;
  box-sizing: border-box !important;
  border-radius: 20px !important;
  color: white !important;
  font-weight: bold!important;
  text-decoration: none !important;
  padding: 4px 8px !important;
}

.card-a-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}

.back-btn {
  text-align: center;
  margin-top: 40px;
}

.rdv-card {
  font-family: roboto;
  font-weight: 400;
  font-size: large;
}
