<div class="container">
	<% @appointements.each do |appointement| %>
		<p><%="#{appointement.begining_hour}, #{appointement.user.first_name}"%></p>
        <p><%=link_to "Cancel my appointement", machine_appointement_path(appointement.machine, appointement), method: "delete"%></p>
        <p> <%=link_to "Review my appointment", new_appointement_review_path(appointement) %> </p>
	<% end %>
  <p><%= link_to "Check out more washing machines near you", machines_path%></p>
</div>
